//Use this mixin to import font-awesome from it's CDN
.import-fontawesome(@active) when (@active = true){
	@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
}

//Use this mixin to creat a font-awesome icon
.fa-icon(@icon){
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	text-decoration: inherit;
	-webkit-font-smoothing: antialiased;
	*margin-right: .3em; // fixes ie7 issues
	content: @icon;
}
