.sv-wc-plugin-admin-setup-content {

	.error {
		background: #dc3232;
		border-radius: 5px;
		color: white;
		padding: 1em;
	}

	.sv-wc-plugin-admin-setup-control {

		margin-bottom: 20px;

		label {
			color: #666;
			display: inline-block;
			font-size: 15px;
			font-weight: 500;
			margin-top: .85em;
			margin-bottom: .5em;
		}

		input[type="text"],
		input[type="number"],
		input[type="password"],
		select {
			background-color: #fff;
			border: 1px solid #ddd;
			border-radius: 4px;
			color: #444;
			display: inline-block;
			font-size: 16px;
			height: 30px;
			padding: 0 24px 0 8px;
			width: calc(100% - 8px - 24px - 2px);
		}

		select {
			width: 100%;
		}

		.description {
			color: #888;
			font-size: 13px;
			margin: 5px 0 0;
		}
	}
}
